{
  "globals": {
    "fetch": false,
    "Request": false,
    "window": false
  },
  "experimentalDecorators": false,
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["react", "jsx-a11y", "import"]
}
